.main-header {
    position: fixed;
    width: 100%;
    height: $topbar-height;
    border-bottom: 1px solid #dadce0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $background;
    z-index: 100;

    .menu-toggle {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin-right: 3px;
        padding: 0px;

        .menu-icon {
            width: 50px;
            height: 50px;
            padding: 16px;
            text-align: center;

            &:hover {
                background: #eee;
            }

            i {
                vertical-align: middle;
                font-size: 16px;
            }
        }
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: left;
        background: rgba($gray-200, 0.86);
        border-radius: 20px;
        position: relative;
        width: 230px;
        height: 35px;
        input {
            background: transparent;
            border: 0;
            color: #212121;
            font-size: 0.8rem;
            line-height: 2;
            height: 100%;
            outline: initial !important;
            padding: 0.5rem 1rem;
            width: calc(100% - 32px);
        }
        .search-icon {
            font-size: 18px;
            width: 24px;
            display: inline-block;
        }
    }

    .logo {
        height: $topbar-height;
        img {
            height: 50px;
            margin: 0 auto;
            display: block;
        }
    }
    .header-icon {
        font-size: 19px;
        cursor: pointer;
        height: 36px;
        width: 36px;
        line-height: 36px;
        display: inline-block;

        &.dropdown-toggle {
            &:after {
                display: none;
            }
        }
    }
    .header-part-right {
        display: flex;
        align-items: center;
        .user {
            margin-right: 2rem;
            img {
                cursor: pointer;
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
        }
    }
    .notification-dropdown {
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        max-height: 260px;
        cursor: pointer;

        .dropdown-item {
            display: flex;
            align-items: center;
            padding: 0;
            height: 64px;
            border-bottom: 1px solid $gray-300;
            .notification-icon {
                background: $gray-200;
                height: 100%;
                width: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 18px;
                }
            }
            .notification-details {
                padding: 0.25rem 0.75rem;
            }
            &:active {
                color: inherit;
                background: inherit;
            }
        }
    }
}

.menu-icon-grid > a {
    border-radius: 0 !important;
}

.logo .logo-small {
    display: none !important;
}

@media (max-width: 395.98px) {
    .mega-menu {
        display: none;
    }

    .logo .logo-small {
        display: block !important;
    }

    .logo .logo-wide {
        display: none !important;
    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .main-header {

        height: $topbar-height-mobile;

        .logo {
            width: auto
        }
        .search-bar {
            display: none;
        }
        .menu-toggle {
            width: 50px;
            margin-right: 0px;
        }

        .header-part-right {
            .user {
                margin-right: 10px;
                padding: 0;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .main-header {
        .search-bar {
            display: none;
        }

        .mega-menu {
            display: none;
        }

        .menu-toggle {
            width: 50px;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

    .header-part-right {
        .user {
            margin-right: 10px !important;
            padding: 0;
        }
    }
}
