/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';


.background-primary {
    background: #F4B41A;
}

.hover {
    cursor: pointer;
}

.hover:hover{
    background: #143D59;
    color: #F4B41A;
}

.cursor-pointer {
    cursor: pointer;
}